*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #e3bafa;
  height: 120px;
}

.nav{
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}

.brand-Logo {
  height: 100px;
}

.nav-items{
  display: flex;
  align-items: center;
}

.search{
  width: 500px;
  display: flex;
}

.search-box{
  width: 80%;
  height: 30px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  color: #a9a9a9;
  outline: none;
}

.search-btn{
  width: 30px;
  width: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  background: #a86bf2;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a span {
  width: 30px;
}